@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.line {
    height: 10px;
    background-color: #117050;
}

.container {
    max-width: 1140px;
    margin: auto; /*Para ficar no meio*/
    
}

.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-left img {
    width: 64px;
    height: 64px;
}

.header--search input {
    font-size: 16px;
    padding: 7px 10px;
    border: 1px solid #999999;
    outline: 0;
}